@charset "UTF-8";

fielset {
	width: 450px;
	padding: 10px;
}

label {
	width: 120px;
	float: left;
}

fieldset p:last-child input {
	margin-left: 120px;
}

span.error {
	color: red;
	font-size: 9px;
	display: none;
}